<%= form_tag workshops_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find a workshop"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>

<div id="map"
  style="width: 40%; height: 600px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
<div class="row">

<% @workshops.each do |workshop| %>

  <div class="card m-2" style="width: 18rem;">
  <% workshop.photos.each do |photo| %>
    <%= cl_image_tag photo.key, height: 200, width: 350, crop: :fill, class: "card-img-top" %>
  <% end %>
    <div class="card-body flex-column">
      <h5 class="card-title"> <%= workshop.name %> </h5>
      <p class="card-text"><%= workshop.workshop_description %></p>
      <p><%= link_to "More details", workshop, class: "btn btn-primary" %></p>
      <% if workshop.user == current_user %>
        <small><%= link_to 'Edit', edit_workshop_path(workshop) %></small>
        <small><%= link_to 'Delete', workshop_path(workshop), method: :delete, data: { confirm: 'Are you sure?' } %></small>
      <% end %>
    </div>
  </div>
<% end %>
</div>
