<h3><%= @workshop.name %></h3>
<p> <%= @workshop.workshop_description %> </p>
<p><%= "Location: #{@workshop.location}" %></p>
<p><%= "Price: #{@workshop.price}€" %></p>
<p><%= "Starting date: #{@workshop.starting_date}" %></p>
<p><%= "Ending date: #{@workshop.ending_date}"%></p>
